@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: "Roboto Slab", serif;
}
::selection {
  color: rgb(240, 133, 11);
}

.main{
  background-image: radial-gradient( rgb(116, 10, 116), rgb(25, 9, 24),  rgb(0, 0, 0));
}

#name{
  background-image : linear-gradient(-180deg, #ffffff, #d4d1d1, #242424);
  -webkit-background-clip: text;
  -webkit-text-stroke: transparent;
  color: transparent;
}

#card{
  backdrop-filter: blur(20px);
  box-shadow: -1px 0px 11px 4px;
}

#cir1{
  background-image: radial-gradient( rgba(204, 64, 204, 0.363),   rgb(44, 13, 45));
  backdrop-filter: blur(200px);
}

#sign-back{
  background-image: url(assets/mount.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.sigcard{
  box-shadow: 1px 1px 20px 3px black;
  backdrop-filter: blur(5px);
}